<form action = "/search/index" method = "get">
    <div class = "box">
        <div class = "container-4">
            <input type = "search" id = "search" name = "keyword" placeholder = "Search..."></input>
            <button class="icon"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>

<div class = "catbread">
    <%= image_tag 'catbread.jpg' %>
</div>

<p>오늘의 추천 빵!</p>
<ul>
    <% @recommend_bread_arr.each do |rb| %>
        <li>
            <p> 빵집 : <%= rb.bakery_name %></p>
            <p> 빵 이름 : <%= rb.bread_name %></p>
            <p> 빵 종류 : <%= rb.category %></p>
            <p> 잔여 개수 : <%= rb.amount %></p>
            <p> 예약 가능 : <%= rb.bookable_num %></p>
            <p> 가격 : <%= rb.price %></p>
        </li>
    <% end %>
</ul>

<div class = "catbread">
    <% @recommend_category.each do |r| %>
        <form action = "/search/index" method = "get">
            <input type = "hidden" name = "keyword" value = <%= r %>></input>
            <input type = "submit" value = #<%= r %>></input>
        </form>
    <% end %>
</div>
