<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<div class="detail-item-wrap">
    <div class="bread-info-wrap">
        <div class = "bread-img">
            <%= image_tag(image_path("#{@bread.image}"))%>
        </div>
        
        <ul class="info-detail">
            <li class="b-bread-name"><%= @bread.bread_name %> <span class="b-bakery-name">(<%= @bread.bakery_name %>)</span></li>
            <li> 종류 : <span><%= @bread.category %></span></li>
            <li> 가격 : <span><%= @bread.price %>원</span></li>
            <li> 잔여 개수 : <span><%= @bread.amount %></span>개</li>
            <li> 예약 가능 : <span><%= @bread.bookable_num %></span>개</li>
            <li id = "address"> 주소 : <span><%= @bakery.address %></span></li>
            <li> 별점 : <span class="star"><%= @bread.star_point %></span></li>

            <% if user_signed_in? %>
                <form action = "/detail_item/reservation/<%=@bread.id%>" method = "post" onsubmit = "return isAble();">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    예약 수량 : <input type = "number" name = "reservation_amount" id = "reservation"></input></br>
                    <% if isExist(@bread.id) %>
                        <a href = "/detail_item/cancle/<%=@bread.id%>">
                            <button class="reservation">취소하기</button>
                        </a></br>
                    <% else %>
                        <span><button class="reservation">예약하기</button></span>
                    <% end %>
                </form>
                <form action = "/info_user/basket_create/<%=@bread.id%>" method = "post" onsubmit = "return put();">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <input type = "hidden" name = "amount" id = "basket_num"></input>
                    <span><button class="reservation">장바구니 담기</button></span>
                </form>
            <% end %>
            <a href = "/search/bakery/<%=@bread.bakery_name%>">
                <button class="reserv-detail-view">빵집 상세보기</button>
            </a>
            </br></br>

        </ul>
    </div>

    <div class="write-reviews">
        <ul class="detail">
            <div id="map" style="width:46%;height:400px;"></div>
        </ul>
        <% if user_signed_in? %>
        <br><br><hr>
            <li>리뷰를 작성해 주세요.</li>
            <form enctype="multipart/form-data" action='/detail_item/index/<%= @bread.id %>/reviews/create' method='post' onsubmit = "return isCorrect()">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <label name='input_user'><%= current_user.name%></label>
                 님의 리뷰 <textarea name="input_content" cols="80" rows="5" minlength="30" id = "review"></textarea>
                <%# 이미지 : <input type = 'file' name = "input_img"></input></br> %>
                <div class="file-star-submit-wrap">
                    <div class="file-img">
                        <label for="upload"><span>이미지 추가하기</span></label>
                        <input type='file' class="hide inputfile" name ="input_img" id="upload"></input>
                    </div>
                    <div class="star-point">
                        <div class="starRev">
                            <span class="starR" id = "1">별1</span>
                            <span class="starR" id = "2">별2</span>
                            <span class="starR" id = "3">별3</span>
                            <span class="starR" id = "4">별4</span>
                            <span class="starR" id = "5">별5</span>
                        </div>
                        <input type='hidden' name='input_starPoint' id = "star" ></input>
                    </div>
                    <div class="submit-button">
                        <label for="submit"><span>리뷰 등록하기</span></label>
                        <input type='submit' class="hide inputfile" id="submit"></input>
                    </div>
                </div>
            </form>
        <% end %>
        </br></br>
        <hr>

        <div class="reviews">
            <li> 리뷰 </li>
            <% @review.each do |reviews| %>
                <li><span class="review-person"><%= reviews.user_name %></span> 님의 리뷰</li>
                <li class="review-content-li">
                    <span class="review-content-span"><%= reviews.content %></span>
                </li>
                <li>별점 : <%= reviews.star_point %></li>
                <li><img src="<%= reviews.image.url %>" width="400"></li>
                <% if user_signed_in? %>
                    <% if reviews.user_email == current_user.email or current_user.has_role? :admin %>
                        <div class="review-btns">
                            <a href = '/detail_item/index/<%=@bread.id%>/reviews/edit/<%=reviews.id%>'>
                                <button class="review-btn">수정</button>
                            </a>

                            <a href = '/detail_item/index/<%=@bread.id%>/reviews/destroy/<%=reviews.id%>'>
                                <button class="review-btn">삭제</button>
                            </a>
                        </div>
                    <% end %>
                <% end %>
                <br><hr>
            <% end %>
        </div>
    </div>
</div>

<script>
$('.starRev span').click(function(){
  $(this).parent().children('span').removeClass('on');
  $(this).addClass('on').prevAll('span').addClass('on');
  return false;
});

$("#1").click(function(){
    $("#star").val(1);
});
$("#2").click(function(){
    $("#star").val(2);
});
$("#3").click(function(){
    $("#star").val(3);
});
$("#4").click(function(){
    $("#star").val(4);
});
$("#5").click(function(){
    $("#star").val(5);
});
</script>

<script>
    function isAble(){
        var bookable_num = <%= @bread.bookable_num %>;
        var reservation = document.getElementById('reservation').value;
        console.log(bookable_num);
        console.log(reservation);
        if (bookable_num >= reservation && reservation > 0){
            return true;
        }
        else{
            alert("예약가능수량을 초과하였습니다.");
            return false;
        }   
    }
</script>

<script>
    function put(){
        var bookable_num = <%= @bread.bookable_num %>;
        var reservation = document.getElementById('reservation').value;
        console.log(bookable_num);
        console.log(reservation);
        if (bookable_num >= reservation && reservation > 0){
            document.getElementById('basket_num').value = reservation;
            return true;
        }
        else{
            alert("장바구니 가능수량을 초과하였습니다.");
            return false;
        }   
    }
</script>

<script>
    function isCorrect(){
        var sp = parseInt(document.getElementById('star').value);
        var text = parseInt(document.getElementById('review').value.length);
        if (sp > 6 || sp < 0){
            alert("별점은 0~5까지만 매길 수 있습니다.");
            return false;
        }
        if (text == 0){
            alert("review pls");
            return false;
        }
    }
</script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1aff35522df41932aff1641ceb4b8039&libraries=services"></script>

<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };  
// 지도를 생성합니다    
var map = new daum.maps.Map(mapContainer, mapOption); 
// 주소-좌표 변환 객체를 생성합니다
var geocoder = new daum.maps.services.Geocoder();
// 주소로 좌표를 검색합니다
geocoder.addressSearch("<%= @bakery.address %>", function(result, status) {
    // 정상적으로 검색이 완료됐으면 
    if (status === daum.maps.services.Status.OK) {
        var coords = new daum.maps.LatLng(result[0].y, result[0].x);
        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new daum.maps.Marker({
            map: map,
            position: coords
        });
        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new daum.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;"><%= @bread.bakery_name %></div>'
        });
        infowindow.open(map, marker);
        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    } 
});    
</script>
