<div class="item-list-wrap">
    <% count = 0 %>
    <div class="item-list-title">
        빵집 둘러보기 <br><br><br>

        <form action = '/itemlist/bakery/' method = "get">
            지역명으로 검색하고 싶으시면 입력해주세요 : <input type = "text" name = "place"></input>
            <input type = "submit" value = "검색"></input>
        </form>
    </div>
    <a href = "/itemlist/bread">빵 기준으로 검색하기!</a>
        
        <div class="item-list">
            <% @bakery.each do |result| %>
                <% count += 1 %>
                <section class="bread-item">
                    <div class="item">
                        <button class="collapsible">
                            <%# <%= count %><%#번 빵집 %>
                            <ul>
                                <%# <li><%= image_tag(image_path("#{result.image}")) %>
                                <%# 아직 bakery 사진 없음 %>
                                <li><%= image_tag ("scon.png") %></li>
                                <li>
                                    <span class="bakery-name"><%= result.name %><span><br>
                                    <span class="bread-name"><%= result.breads.name%></span>
                                    <span class="bread-num"> 빵 개수 : <%= result.breads.length %></span>
                                </li>
                            </ul>
                        </button>
                        <div class = "content">
                            <p> 주소 : <%= result.address %></p>
                            <p> 오픈시간 : <%= result.open_time %></p>
                            <p> 닫는시간 : <%= result.close_time %></p>
                            <p> 좌석 : <%= result.seat %></p>
                            <a href = "/search/bakery/<%=result.name%>">빵 더보기...</a>
                            </br>
                        </div>
                    </div>
                </section>
            <% end %>
        </div>
</div>
    <script>
        var item = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < item.length; i++) {
        item[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            }
            else {
            content.style.maxHeight = content.scrollHeight + "px";
            } 
        });
        }
    </script>