<div class="item-list-wrap">
    <% count = 0 %>
    <% bread_category = category() %>

    우리 같이 빵을 찾아보아요~~~

    <form action = '/itemlist/bread/' method = "get">
        지역명으로 검색하고 싶으시면 입력해주세요 : <input type = "text" name = "place" value = "<%=@place%>"></input>
        <% bread_category.each do |bc| %>
            <input type="checkbox" name="category[]" value = "<%=bc%>"><%=bc%></input>
        <% end %>
        <input type = "submit" value = "검색"></input>
    </form>

    <a href = "/itemlist/bakery">빵집 기준으로 검색하기!</a>
        <% if @bread.length == 0 %>
            <p> 검색 결과가 없습니다. </p>
        <% end %>

        <div class="item-list">
            <% @bread.each do |result| %>
                <% count += 1 %>
                <section class="bread-item">
                    <%# <p><%= count %><%#번 빵</p> %>
                        <div class = "item">
                            <button class="collapsible">
                                <ul>
                                    <li><%= image_tag(image_path("#{result.image}"))%></li>
                                    <li>
                                        <span class="bread-name"><%= result.bread_name %></span>
                                        <span class="bread-cat">[<%= result.bakery_name %>]</span><br>
                                        <span class="bread-price"><%= result.price %>원</span>
                                    </li>
                                </ul>
                            </button>
                            <div class = "content">
                                <ul>
                                    <li> 예약 가능 : <span class="con-num"><%= result.bookable_num %></span>개</li><br>
                                    <li> 별점 : <span class="con"><%= result.star_point.round(1) %></span></li><br>
                                    <a href = "/detail_item/index/<%=result.bread_name%>">
                                        <button class="bakery-btn">상세보기</button>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </section>
                <% end %>
            </div>
        

</div>
<script>
    var item = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < item.length; i++) {
        item[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            }
            else {
            content.style.maxHeight = content.scrollHeight + "px";
            } 
        });
    }
</script>