<div class="info-owner-wrap">
  계정 정보

  이름 : <%= current_owner.name %></br>
  이메일 : <%= current_owner.email %></br></br>
  
  빵집 정보

  빵 관리</br>
  <% @breads.each do |x| %>
    빵 이름 : <%= x.bread_name%></br>
    빵 종류 : <%= x.category %></br>
    개수 : <%= x.amount %></br>
    예약가능 : <%= x.bookable_num %></br>
    가격 : <%= x.price %></br>
    별점 : <%= x.star_point %></br>
    <% if x.image.url != nil %>
    이미지 : <img src = "<%= x.image.url %>" width = "200"></br>
    <% end %>
    <a href = "/info_owner/bread_edit/<%=x.id%>">수정</a>
    </br></br></br>

  <% end %>
  <a href = "/info_owner/bread_regist">빵 등록하기</a>
  
</div>