
<li class="my-review">내가 작성한 리뷰</li>

<div class="info-user-wrap">
    <div class="reviews">
        <% @my_reviews.each do |r| %>    
            <div class="review-bread-user">
                <li>빵 이름 : <%= r.bread_name %></li><br>
                <li class="review-content-li">
                    <span class="review-content-span"><%= r.content %></span>
                </li><br>
                <li>별점 : <%= r.star_point %></li><br>
                <li>이미지 : <img src="<%= r.image.url %>" width="100%"></li><br>
                
                <div class="see-edit-pop-wrap">
                <div class="edit">
                        <a href = "/detail_item/index/<%=r.bread_name%>">
                            <button class="review-btn">보러가기!</button>
                        </a>
                        <a href = '/detail_item/index/<%=r.bread_id%>/reviews/edit/<%=r.id%>'>
                            <button class="review-btn">수정하기</button>
                        </a>
                    </div>
                </div>
            </div>
            <br><hr><br>
        <% end %>
    </div>
</div>
