<div class="main users-new">
  <div class="container">
    <div class="form-heading">로그인</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_tag("/login") do %>
          <p>메일어드레스</p>
          <input name="user[email]" value="<%= @email %>">
          <p>패스워드</p>
          <input type="password" name="user[password]" value="<%= @password %>">
          <input type="submit" value="로그인">
        <% end %>
        <%= link_to "회원가입", new_owner_registration_path %><br />
        </div>
    </div>
  </div>
</div>