<div class="sessions-form-wrap">

  <% address = request.fullpath %>
  <% if address.include? "users" %>
    <% sign_case = "고객" %>
  <% else %>
    <% sign_case = "점주" %>
  <% end %>

  <span class="login-span"><%= sign_case %> 로그인</span> <br><br>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, label: "이메일", required: false, autofocus: true %><br>
      <%= f.input :password, label: "비밀번호", required: false %><br>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %><br>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "로그인" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>