<h1>리뷰 수정!</h1>
<form enctype="multipart/form-data" action='/detail_item/index/<%= @bread %>/reviews/update/<%=@review.id%>' method='post' onsubmit = "return isCorrect()">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    작성자: <label name='input_user'><%= current_user.name%></label></br>
    내용 : <textarea name="input_content" cols="80" rows="1"><%=@review.content%></textarea> <br/>
    별점 :
    <div class="starRev">
        <span class="starR" id = "1">별1</span>
        <span class="starR" id = "2">별2</span>
        <span class="starR" id = "3">별3</span>
        <span class="starR" id = "4">별4</span>
        <span class="starR" id = "5">별5</span>
    </div>
    <input type = 'hidden' name = 'input_starPoint' id = "star" value = "<%=@review.star_point%>"></input></br>
    이미지 : <input type = 'file' name = "input_img"></input></br>
    <input type='submit' value='작성'></input>
</form>

<script>
    function isCorrect(){
        var sp = parseInt(document.getElementById('star').value);

        if (sp > 6 || sp < 0){
            alert("별점은 0~5까지만 매길 수 있습니다.");
            return false;
        }
    }
</script>
<script>
$('.starRev span').click(function(){
    $(this).parent().children('span').removeClass('on');
    $(this).addClass('on').prevAll('span').addClass('on');
    return false;
});

$("#1").click(function(){
    $("#star").val(1);
});
$("#2").click(function(){
    $("#star").val(2);
});
$("#3").click(function(){
    $("#star").val(3);
});
$("#4").click(function(){
    $("#star").val(4);
});
$("#5").click(function(){
    $("#star").val(5);
});
</script>