<!DOCTYPE html>
<html>

  <head>
    <title>Crumbles</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1.0, user-scalable=0" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>


  <header class="header">
      <div class="logo">
        <%= link_to (image_tag("logo.png", size:"220x70", :alt => "rss feed")), root_path , :class => "logo-link" %>
      </div>

      <div class="header-item-container">
        <div class="nav">
          <div class="search-bar">
            <form action = "/search/index" method = "get">
              <div class="container-4">
                <input type = "search" id = "search" name = "keyword" placeholder = "Search..."></input>
                <button class="icon"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
          <nav class="navigation">
            <div class="item-right">
              <%= image_tag ('menu.png'), :id => "menu-icon" %>
              
              <ul class="nav-down">
                <li><%= link_to '빵찾으러 ㄱ',  itemlist_index_path, :class => "link nav-link" %></li>
                <li><%= link_to 'FAQ',  '/', :class => "link nav-link" %></li>
                <li><%= link_to '이용안내',  '/', :class => "link nav-link" %></li>
              </ul>

              <ul class="nav-up">
                <% if user_signed_in? %>
                    <li><%= link_to user_roles(current_user), '#', :class => "link nav-link" %></li>
                    <li><%= link_to current_user.name + "님", '/', :class => "link nav-link" %></li>
                    <li><%= link_to '로그아웃', destroy_user_session_path, :method => :delete, :class => "link nav-link" %></li>
                <% else %>
                  <%# <li><%= link_to '회원가입', new_user_registration_path, :class => "link nav-link" %></li> %>
                  <li><%= link_to '로그인 / 회원가입', new_user_session_path, :class => "link nav-link" %></li>
                <% end %>
              </ul>
            </div>
          </nav>

        </div>
      </div>
    </header>






  <body
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
